<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>My Imageboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="main">
        <!-- <first-component v-if="moodSelected" passing-prop="🧁" v-bind:selected-mood="moodSelected" @close="closeFirstComponent"></first-component> -->
        <!-- <first-component></first-component>
        <first-component></first-component> -->
        <!-- <h3 v-for="mood in moods" @click="selectMood(mood.id)">{{mood.id}} | {{mood.emoji}}</h3> -->
        <h1>I 🖤 memedumps</h1>

        <div id="formContainer">
            <form class="uploadForm" method="post" action="/upload" enctype="multipart/form-data"
            @submit.prevent="handleSubmit">
                <input name="title" type="text" placeholder="Title">
                <input name="user" type="text" placeholder="User">
                <input name="description" type="text" placeholder="Description">
                <input class="uploadImage" name="image" type="file" accept="image/*">
                <button>Submit</button>
            </form>
        </div>

    <h2>Latest Images:</h2>

    <!-- this container is for our vue instance -->
    
        <!-- <h2>Hi, {{name}}! Vue is so awesome!</h2> 
        <h2>10 * 8 = {{10*8}}</h2>
        <h2>Name is => {{name.toUpperCase()}}</h2>
        <h3 v-if="visible">Yeah you can see me!! 👀</h3>
        <h3 v-else>'visible' is falsey if you can see this!</h3> -->

        <!-- <ul v-if="images.length">
           <li v-for="city in cities" v-bind:key="city.id" @click="myFirstFunction(city.name)">
            :key is the short form
                {{city.name}} is in {{city.country}}
            </li>
        </ul> -->
        <div id="flexImages">
            <div class="images" v-if="images.length" v-for="image in images">
                <img :key="image.id" :src="image.url" alt="image">
                <p>{{image.title}}</p>
            </div>
        </div>

    </div>


    <script src="/js/app.js" type="module" crossorigin="use-credentials"></script>
</body>
</html>
