* {
    font-family: "EB Garamond", serif;
    background-color: rgb(252, 252, 252);
    box-sizing: border-box;
}

body {
    width: 100vw;
}

h1 {
    font-size: 40px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/***************** FORM *********************/

input {
    margin: 0 20px 0 0;
    font-size: 1em;
    border: 1px solid black;
}

input {
    border: none;
    border-bottom: 2px solid black;
}

button:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
}

button {
    background-color: #f4f1f1;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 10px;
    margin: 20px;
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 3px;
}
#submitButton:hover {
    background-color: #dad7d7;
    cursor: pointer;
}

.chooseFile {
    border: none;
}

/***************** IMAGE CONTAINER *********************/

#flexImages {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    /* transition-property: width height;
    transition-duration: 0.5s; */
}

/* #flexImages img:hover {
    width: 400px;
    height: 300px;
} */

.images {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.images p {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0;
    padding: 5px;
    color: white;
    width: 350px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

/***************** CLICKED IMAGE *********************/

#overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

#modal {
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20%;
    margin: 0;
    border-radius: 5px;
}

#modal img {
    width: 350px;
    height: auto;
    margin: 20px;
}

#modal p,
#modal h2,
#modal h3,
#modal h4,
#modal div {
    align-self: center;
    background-color: transparent;
    margin: 0;
}

#modal form {
    background-color: transparent;
}

#modal input {
    border: none;
    padding: 5px;
    border-radius: 20px;
}

.time {
    font-size: 10px;
}

#closeImage {
    background-color: transparent;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.material-symbols-outlined {
    background-color: transparent;
}

/***************** COMMENTS *********************/

#commentContainer {
    width: 500px;
}

#comments {
    color: black;
    width: 100%;
    height: 100px;
    overflow: scroll;
    border-radius: 3px;
}

#comments h3,
#comments p {
    padding: 10px;
    max-width: 500px;
    background-color: white;
}
